<div class="introduction">
    <p>
    <picture class="introduction__self-portrait">
        <!--transparent image-->
        <source
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        media="(max-width: 639px)"
        alt="" />
        <source 
        srcset="images/landscape/ramsberg-medium.jpg 640w, images/landscape/ramsberg-large.jpg 800w, images/landscape/ramsberg-large_x2.jpg 1600w"
        sizes="400px"
        media="(min-width: 850px)">
        <source 
        srcset="images/portrait/selfie-small.jpg 320w, images/portrait/selfie-medium.jpg 640w, images/portrait/selfie-large.jpg 800w" 
        sizes="192px"
        media="(min-width: 640px)">
        <img
        srcset="images/portrait/selfie-small.jpg 320w, images/portrait/selfie-medium.jpg 640w, images/portrait/selfie-large.jpg 800w "
        alt="a portrait of myself"
        sizes="160px"/>
    </picture>
    </p>
    <ul class="introduction__self-list">
        <li>Gepassioneerd door cleane code, elegante design patterns, JavaScript en gerelateerde frameworks. </li>
        <li>Handelsingenieur met uitgebreide kennis van zowel business als technische onderwerpen.</li>
        <li>Super enthousiast over de mogelijkheden van de huidige front-end technologieën om (bedrijfs)uitdagingen op te lossen.</li>
    </ul>
    <p>
            Heb ik je interesse gepiekt en had je nog wat aanvullende informatie gewild? Stuur me dan gauw een mailtje op <span class="email"> <a href="mailto:buysse.simon@gmail.com">buysse.simon[at]gmail.com</a></span>! 
    </p>
    <p>
    <strong>Languages</strong>:  JavaScript, HTML5, CSS3, Ruby<br />
    <strong>Frameworks/Libraries</strong>:  jQuery, Backbone.js (MV*), AngularJS, Knockout.js (MVVM), Bootstrap, Jasmine (TDD), Grunt, Ruby on Rails, Firebase, Underscore <br />
    <strong>Other</strong>:  Git/GitHub, OOP, BEM, SASS, LAMP, WordPress, REST
    </p>
</div>
