/*.featured-work {*/
    /*h4 {*/
        /*font-size: 1.7rem;*/
    /*}*/
/*}*/

@media screen and (min-width: 400px) {
    header {
        justify-content: space-between;
    }

    .header-logo {
        width: 4.1rem;
        height: 4.1rem;
    }

    .header-title {
        width: initial;
        text-align: right;
        .email {
            display: none;
        }
    }

    .introduction p .email {
        display: inline-block;
    }
}
