@media screen and (min-width: 850px) {
    section .work-thumb {
        width: 31%;
    }

    .container {
        max-width: 820px;
    }

    .introduction {
        max-width: initial;
        p{
            text-align: left;
        }
        &__self-portrait {
            width: 400px;
        }
    }
}
