$cod-grey: #141414;
$scorpion: #5e5e5e;
/*$logo: #08699D;*/
$logo: #F79820;

html, 
body {
    width: 100%; 
    font-family: "Lato", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4 {
    color: $cod-grey;
    font-weight: 400;
}

h1, 
h3, 
h4 {
    text-transform: uppercase;
}

img {
    max-width: 100%; 
}


a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
}

a:link, 
a:visited, 
a:hover, 
a:active, 
p, 
ul {
    color: $scorpion;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 10px 0;
}

.logo {
    text-decoration: none;
    &__style-blue {
        margin-top: 10px;
        padding-left: 1px;
        background-color: $logo;
        color: white;
        font: 59px 'Gloria Hallelujah', cursive;
        line-height: 64px;
        width: 75px;
        height: 75px;
        text-align: center;
        border: 5px solid white;
        box-shadow: 0px 0px 0px 0.14em $logo;
        &__inverted {
            background-color: white;
            color: $logo;
            border: 5px solid $logo;
            box-shadow: 0px 0px 0px 0.14em white;
        }
    }
}

.header-logo{
    margin-top: 1rem;
}

.header-title {
    margin: 0;
    width: 100%;
    text-align: center;
    h1 {
        margin: 0.7rem 0 0.5rem;
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.2rem;
        margin: 0 0 0.4rem; 
    }
}

.introduction {
    max-width: 580px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 2rem auto 2.5rem;
    /*.email {*/
        /*display: none;*/
    /*}*/
}

.header-line {
    display: none;
}

section{
    background-color: #eee;
    text-align: center;
    padding: 0 10px;
    h2 {
        padding: 1rem 0 0.5rem;
    }
    h4 {
        width: 100%;
        margin: 0.3rem 0;
    }
    .work-thumb { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: flex-start;
        padding-bottom: 2rem;
        &__image {
            Box-shadow: 0px 15px 20px -12px rgba(0,0,0, .8);
            width: 80%;
            border: 3px solid #3A3A3A;
            align-self: flex-start;
            &:hover {
                cursor: pointer;
            }
        }
        &__description{
            margin-top: 0.7rem;
        }
        &__title{
            margin-top: 1rem;
        }
        &__technologies{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            margin-top: 0;
            padding: 0;
            li{
                margin: 0.2rem 0.7rem;
            }
        }
    }
}
